
 <button button type="button" routerLink="agregar-editar-usuario">
    Agregar usuario
    
 </button> 

<button type="button">
    Eliminar Usuario
</button>

<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Nombre de Usuario</th>
        <th>Cedula</th>
        <th>TipoUsuario</th>
    </thead>
    <tbody>
        <tr *ngFor="let Usuario of UsuariosList$|async">
            <td>{{Usuario.usuarioId}}</td>
            <td>{{Usuario.nombreUsuario}}</td>
            <td>{{Usuario.cedula}}</td>
            <td>{{Usuario.tipoUsuario}}</td>
            <td>
                <button>
                    Editar
                </button>
            </td>
            <td>
                <button>
                    Eliminiar
                </button>
            </td>
        </tr>
    </tbody>

   
    
</table>
