
 <button button type="button" (click)="nuevoUsuario()">
    Agregar usuario
    
 </button> 



<table class="table table-striped">
    <thead>
        
        <th>Nombre de Usuario</th>
        <th>Cedula</th>
        <th>TipoUsuario</th>
    </thead>
    <tbody>
        <tr *ngFor="let Usuario of UsuariosList$|async">
            
            <td>{{Usuario.nombreUsuario}}</td>
            <td>{{Usuario.cedula}}</td>
            <td>{{Usuario.tipoUsuario}}</td>
            <td>
                <button (click)="ActualizarUsusario(Usuario.usuarioId)">
                    Editar
                </button>
            </td>
            <td>
                <button (click)="EliminarUsuario(Usuario.usuarioId)">
                    Eliminiar
                </button>
            </td>
        </tr>
    </tbody>

   
    
</table>
